*{
    font-family: Georgia, 'Times New Roman', Times, serif;
    box-sizing: border-box!important;
}
html{
    scroll-behavior: smooth;
}
ul,li{
    list-style: none!important;
    margin: 0!important;
    padding: 0;
    display: flex;
    align-items: center!important;
}
a{
    text-decoration: none!important;
}
form{
    margin: 0!important;
}
.main_background{
    background: #d6d6ce;
}
footer{
    padding: 30px;
    background: rgb(15, 14, 14, 0.7);
    color: #fff;
}
@media only screen and (min-width: 600px)
{

}
@media only screen and (min-width: 768px) 
{
    .main_background{
        margin: 0;
        padding: 10px 0 20px 0;
        background: 
          url(../img/hero3.jpg) center no-repeat;
        background-size: cover;
        background-attachment: fixed;
    }
    
}