*{
    font-family: Georgia, 'Times New Roman', Times, serif;
    box-sizing: border-box!important;
}
ul,li{
    list-style: none!important;
    margin: 0!important;
    padding: 0;
    display: flex;
    align-items: center!important;
}
a{
    text-decoration: none!important;
}
form{
    margin: 0!important;
}

.product_background{
    background: rgb(0, 0, 0, 0.5);
    margin: 0;
    padding: 0;
}