.hero{
  display: flex;
  align-items: center;
  text-align: center;
  color: rgb(255, 255, 255);
  background: 
    linear-gradient(to bottom, rgba(0, 0, 0, .4), rgba(0, 0, 0, .7)), 
    url(../img/hero3.jpg) center no-repeat;
  background-size: cover;
  height: 30vh;
  padding: 15px;
  margin:0;
}
.hero__h1{
  font-size: 20px;
}
.hero__p{
  font-size: 14px;
}
.hero__btn {
  padding: 10px 24px!important;
  border-radius: 0.2rem;
  color: #fff!important;
  background-color: rgb(194, 51, 51)!important;
  text-decoration: none;
}

  /* for smaller devices */
@media only screen and (min-width: 600px)
{
  
}

/* For Desktop */
@media only screen and (min-width: 768px)
{
  .hero{
      align-items: center;
      text-align: center;
      height: 50vh;
      background:transparent;
  }
  .hero__h1{
      font-size: 28px;
    }
    .hero__p{
      font-size: 19px;
      max-width: 50%;
      margin-left: auto;
      margin-right: auto;
    }
}