.product_section_new_arrivals
{
    background-color: #000;
    color: #fff;
}
.product_section_brands
{
    background-color: rgb(8, 8, 156);
    color: #fff;
}
.product_section_new_arrivals,
.product_section_new_recently_viewed,
.product_section_brands
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    padding: 7px 14px 5px 14px;
}
.product_section_new_arrivals h2,
.product_section_new_recently_viewed h2,
.product_section_brands h2
{
    font-size: 18px;
}
.product_section_new_arrivals a,
.product_section_brands a
{
    color: #fff;
}
.product_section_new_recently_viewed a{
    color: rgb(10, 10, 10);
}
.product_section_new_arrivals a,
.product_section_new_recently_viewed a,
.product_section_brands a
{
    font-size: 14px;
    text-transform: uppercase;
}
.grid_container{
    display: grid;
    grid-template-columns: 45% 45%;
    background-color: #ffffff;
    padding: 10px;
    gap: 14px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    justify-content: center;
}
.grid_container a{
    color: #000;
    cursor: pointer;
}
.grid_item{
    border-radius: 5px;
    transition: box-shadow 0.5s;
}
.grid_item:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.item_image_container{
    width: 100%;
    position: relative;
}
.item_image_container img,
.item_image_brand img
{
    width: 100%;
    height: 200px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    object-fit: cover;
}
.item_image_brand img{
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}
.item_image_container span{
    position: absolute;
    top: 10px;
    right: 10px;
    display: inline-flex;
    align-items: center;
    background-color: rgb(194, 51, 51, 0.8);
    padding: 0 5px;
    border-radius: 2px;
    color: rgb(255, 255, 255);
}
.grid_item_container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 7px 10px;
    align-items: center;
}
.item_name{
    color: rgb(0, 0, 0,0.8);
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.item_current_price{
    font-weight: 800;
}
.item_initial_price{
    text-decoration: line-through;
    color: rgb(0, 0, 0,0.5);
    display: none;
}
.item_brand_name{
    text-transform: uppercase;
}
/* For smaller devices */
@media only screen and (min-width: 600px)
{

}
/* For Desktop  */
@media only screen and (min-width: 768px) {
    .product_section{
        border-radius: 5px;
        padding: 0 80px;
    }
    .product_section_new_recently_viewed,
    .product_section_new_arrivals,
    .product_section_brands
    {
        border-top-left-radius: 7px;
        border-top-right-radius: 7px;
    }
    .product_section_new_recently_viewed{
        background-color: #fff;
        color: #000;
    }
    .product_section_new_arrivals a
    .product_section_brands a
    {
        color: #fff;
    }
    .product_section_new_recently_viewed a{
        color: rgb(194, 51, 51, 1);
    }
    .grid_container{
        display: grid;
        grid-template-columns: 15.65% 15.65% 15.65% 15.65% 15.65% 15.65%;
        background-color: #ffffff;
        padding: 10px;
        margin-bottom: 10px;
        gap: 14px;
        border-bottom-left-radius: 7px;
        border-bottom-right-radius: 7px;
    }
    .grid_item_container{
        align-items: flex-start;
    }
    .item_initial_price{
        display: flex;
    }
}